name: Express CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Github Container Registry
        run: |
          echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io \
          -u ${{ github.actor }} --password-stdin

      - name: Build Docker image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/express-app:${{ github.sha }} .

      - name: Push Docker image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/express-app:${{ github.sha }}

      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            docker pull ghcr.io/${{ github.repository_owner }}/express-app:${{ github.sha }}

            docker stop express-app || true
            docker rm express-app || true

            docker run -d \
              --name express-app \
              -p 5000:5000 \
              -e PORT=${{ secrets.PORT }} \
              -e APP_NAME="CI-CD Express" \
              -e NODE_ENV=production \
              ghcr.io/${{ github.repository_owner }}/express-app:${{ github.sha }}